{% extends "base.html" %}

{% load static %}

{% block content %}
{% for task in tasks %}
{% if user not in task.users.all%}
<div class="card shadow border-nuke border-3 blockky850 text-white"
     style="background: #27323f; border-color: #2f3c4c !important;">
    <div class="card-body">
        <div class="row justify-content-left py-2">
            <div class="col-2">
                {% if task.organization.photo %}
                <img class="rounded-circle" src="{{ task.organization.photo.url }}" width="50" height="50">
                {% else %}
                <svg class="rounded-circle bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                     xmlns="http://www.w3.org/2000/svg" role="img" width="50" height="50" focusable="false">
                    <rect width="50" height="50" fill="#eee"></rect>
                </svg>
                {% endif %}
            </div>
            <div class="col">
                <a style="color: #EEEEEE;" href="{% url 'users:account' task.organization.id %}">{{ task.organization.name }} | {{ task.name }}</a>
            </div>
        </div>
        <img class="rounded-3 border-nuke border-2" src="{{ task.photo.url }}" width="100%" height="100%">
        <p> Общая награда: {{ task.award }}</p>
        <p> Подробнее: {{ task.description }}</p>
        <hr>
        {% for usr in task.users.all %}
        <p>{{ usr.user.first_name }} {{ usr.user.last_name }}</p>
        {% endfor %}
        {% if user.volunteer and user.volunteer not in task.users.all%}
        <form method="post" action="">
            {% csrf_token %}
            <div class="d-grid">
                <button type="submit" name="take" value="{{ task.id }}" class="btn" style="background: #45A29E;">Взять
                    вакансию
                </button>
            </div>
        </form>
        {% elif user.organization and user.organization == task.organization %}
        <form method="post" action="">
            {% csrf_token %}
            <div class="d-grid">
                <button type="submit" name="drop" value="{{ task.id }}" class="btn" style="background: #45A29E;">Закончить мероприятие
                </button>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endif%}
{% endfor %}
{% endblock %}
